Your Experience for <%= @experience.concert.artist.name %> on <%= @experience.concert.date %> at <%= @experience.concert.venue %></h1>

<br>

<%= @experience.rating%>

<br>

<%= @experience.content%>

<br>

<%= link_to "View all Experiences for This Concert", concert_experiences_path(@experience) %>
